-- DropForeignKey
ALTER TABLE "ClassificationRule" DROP CONSTRAINT "ClassificationRule_categoryId_fkey";

-- DropForeignKey
ALTER TABLE "Event" DROP CONSTRAINT "Event_contactId_fkey";

-- DropForeignKey
ALTER TABLE "Event" DROP CONSTRAINT "Event_dealId_fkey";

-- DropForeignKey
ALTER TABLE "Event" DROP CONSTRAINT "Event_projectId_fkey";

-- DropForeignKey
ALTER TABLE "Event" DROP CONSTRAINT "Event_recurrenceId_fkey";

-- DropForeignKey
ALTER TABLE "EventAttendee" DROP CONSTRAINT "EventAttendee_eventId_fkey";

-- DropForeignKey
ALTER TABLE "Interaction" DROP CONSTRAINT "Interaction_eventId_fkey";

-- DropForeignKey
ALTER TABLE "Lead" DROP CONSTRAINT "Lead_contactId_fkey";

-- DropIndex
DROP INDEX "Interaction_eventId_key";

-- AlterTable
ALTER TABLE "Contact" ADD COLUMN     "bankAccount" TEXT,
ADD COLUMN     "bankBik" TEXT,
ADD COLUMN     "bankCorrAccount" TEXT,
ADD COLUMN     "bankName" TEXT;

-- AlterTable
ALTER TABLE "Interaction" DROP COLUMN "eventId";

-- AlterTable
ALTER TABLE "Role" DROP COLUMN "permissions";

-- DropTable
DROP TABLE "AutomationRule";

-- DropTable
DROP TABLE "ClassificationRule";

-- DropTable
DROP TABLE "Event";

-- DropTable
DROP TABLE "EventAttendee";

-- DropTable
DROP TABLE "EventRecurrence";

-- DropTable
DROP TABLE "GoogleAccount";

-- DropTable
DROP TABLE "GoogleSyncLog";

-- DropTable
DROP TABLE "Lead";

-- DropTable
DROP TABLE "PeriodClose";

-- DropTable
DROP TABLE "SyncLog";

